.page-template-about {

    .intro {
        height: 20vh;
        background-image:url('../img/market-background.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @include from($tablet) {
            height: 40vh;
        }

    }

    section.about {

        .columns {
            display: flex;
            flex-direction: column;
            
            @include from($tablet) {
                flex-direction: row;
            }

            .column {
                &:nth-child(2) {
                    @include mobile {
                        order: -1;
                    }
                }
                & > img {
                    // border-radius: 50%;
                }
            }

        }

    }

}
