.button {
    letter-spacing: 1px;
    font-weight: 400;
    border: 0;
    transition: all .5s;
    &.is-primary {
        color: $secondary;
    }
    
    &.is-secondary {
        background: $secondary;
        color: $primary;
        &:hover {
            background-color: bulmaDarken($secondary, 2.5%);
        }
    }
    
}