.commissions {
    background-color: $secondary;
    .title, p {
        color: $primary;
    }
    .title {
        &.is-1, &.is-2 {
            margin-bottom: $size-1;
        }
    }
    .columns {
        .column {
            & > img {
                border-radius: 50%;
                width: 50%;
                margin-bottom: $size-4;
            }
        }
    }
}