.cta {
    display: flex;
    align-items: center;
    position: relative;

    @include mobile {
        margin-bottom: $size-1;
    }
    
    .credit {
        position: absolute;
        display: flex;
        align-items: center;
        padding: .5rem;
        color: $secondary;
        margin-bottom: 0;
        padding-right: .5rem;
        font-weight: 400;
        bottom: 0;
        right: 0;
        
        &.active {
            background-color: $primary;
            p {
                display: block;
            }
            .icon {
                color: $secondary;
            }
        }

        &.dt {
            display: none;
            
            @include from($tablet) {
                display: flex;
            }
            
        }

        .icon {
            color: white;
            opacity: .8;
        }
        p {
            margin-bottom: 0;
            padding-right: .5rem;
            display: none;
        }
    }

    .title {
        
        @include from($tablet) {
            color: white;
        }

        &.is-2 {
            margin-top: $size-4;
            
            @include from($tablet) {
                margin-bottom: 1rem;
            }
        }

        &.is-4 {
            @include from($tablet) {
                margin-bottom: 2rem;
                font-size: 1.3rem;
                font-style: italic;
            }
        }

    }
    
    @include from($tablet) {
        background-image: url('../img/cta-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 50vh;
    }

    .container {
        padding: 0;
        @include from($desktop) {
            // padding-bottom: 0;
        }
    }

    .columns {
        margin: 0;

        @include mobile {
            display: flex;
            flex-direction: column;
        }

        .column {
            
            @include mobile {
                // min-height: 50vh;
            }

            &.is-one-third {
                padding: 0 1rem;
            }

            &.is-hidden-desktop {
                
                position: relative;

                @include mobile {
                    order: -1;
                    background-image: url('../img/cta-bg.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    min-height: 50vh;
                }

                

            }
        }

    }

    &.bangles {
        
        @include from($tablet) {
            background-image: url('../img/cta-bg-bangles-3.jpg');
        }

        .columns {
            .column {
                &.is-hidden-desktop {
                    background-image: url('../img/cta-bg-bangles-2.jpg');
                }
            }
        }

    }


    &.earrings {
        
        @include from($tablet) {
            background-image: url('../img/cta-bg-earrings-01.jpg');
        }

        .columns {
            .column {
                &.is-hidden-desktop {
                    background-image: url('../img/cta-bg-earrings.jpg');
                    background-position: right;
                }
            }
        }

    }


    &.necklaces {
        
        @include from($tablet) {
            background-image: url('../img/cta-bg-necklaces-01.jpg');
        }

        .columns {
            .column {
                &.is-hidden-desktop {
                    background-image: url('../img/cta-bg-necklaces.jpg');
                    background-position: top;
                }
            }
        }

    }


    &.rings {
        
        @include from($tablet) {
            background-image: url('../img/cta-bg-rings-dt.jpg');
        }

        .columns {
            .column {
                &.is-hidden-desktop {
                    background-image: url('../img/cta-bg-rings.jpg');
                    background-position: top;
                }
            }
        }

    }

}