.cta {
    display: flex;
    align-items: center;

    h2, h4 {
        
        @include from($tablet) {
            color: white!important;
        }

    }
    
    @include from($tablet) {
        background-image: url('../img/cta-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 50vh;
    }

    .container {
        @include mobile {
            padding-bottom: 0;
        }
    }

    .columns {

        @include mobile {
            display: flex;
            flex-direction: column;
        }

        .column {
            
            @include mobile {
                // min-height: 50vh;
            }

            &.is-hidden-desktop {
                
                @include mobile {
                    order: -1;
                    background-image: url('../img/cta-bg.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    min-height: 50vh;
                }

            }
        }

    }

    &.bangles {
        
        @include from($tablet) {
            background-image: url('../img/cta-bg-bangles-2.jpg');
        }

        .columns {
            .column {
                &.is-hidden-desktop {
                    background-image: url('../img/cta-bg-bangles-2.jpg');
                }
            }
        }

    }


    &.earrings {
        
        @include from($tablet) {
            background-image: url('../img/cta-bg-earrings.jpg');
        }

        .columns {
            .column {
                &.is-hidden-desktop {
                    background-image: url('../img/cta-bg-earrings.jpg');
                    background-position: right;
                }
            }
        }

    }


    &.necklaces {
        
        @include from($tablet) {
            background-image: url('../img/cta-bg-necklaces.jpg');
        }

        .columns {
            .column {
                &.is-hidden-desktop {
                    background-image: url('../img/cta-bg-necklaces.jpg');
                    background-position: right;
                }
            }
        }

    }


    &.rings {
        
        @include from($tablet) {
            background-image: url('../img/cta-bg-rings.jpg');
        }

        .columns {
            .column {
                &.is-hidden-desktop {
                    background-image: url('../img/cta-bg-rings.jpg');
                    background-position: right;
                }
            }
        }

    }

}