.site-footer {
    min-height: calc( 50vh - (#{$header-height-lrg} / 2) );
}

.sign-up {
    background-color: $primary;
    color: $secondary;
    display: flex;
    align-items: center;
    padding: $size-1 0;
    p {
        @include from($tablet) {
            padding-right: 2rem;
        }
        strong {
            color: $secondary;
        }
    }
    .icon {
        color: $primary;
    }
}

.site-footer {
    background-color: black;
    > .container {
        padding-top: $size-1;
        padding-bottom: $size-1 * 2;
    }

    a, p, span {
        color: $primary;
    }

    a {
        &:hover {
            color: darken($primary, 20%);
        }
    }

    li, p {
        line-height: 2rem;
    }

    .footer-widgets {

        .widget-title {
            display: none;
        }

        .widget_recent_reviews {
            .product_list_widget {
                list-style: none outside;
                li {
                    list-style: none;
                    margin-bottom: $size-6 / 2;
                    &::before {
                        content: "";
                        display: table;
                    }
                    &::after {
                        content: "";
                        clear: both;
                        display: table;
                    }
                    a {
                        display: block;
                        img {
                            width: 75px;
                            float: right;
                        }
                        span {
                            // display: block;
                        }
                    }
                    .star-rating {
                        float: none;
                    }
                    
                }
            }
        }
    }

    .copyright {
        .container {
            > .columns {
                margin-bottom: 0;
            }
        }
        .social-icons {
            display: flex;
            @include from($tablet) {
                justify-content: flex-end;
            }
            justify-content: center;
            li {
                margin-right: $size-6;
                    &:last-child {
                        margin-right: 0;
                    }
                a {
                    display: block;
                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }
}