.sign-up, .site-footer {
    min-height: calc( 50vh - (#{$header-height-lrg} / 2) );
}

.sign-up {
    background-color: #f5f5f5;
    // .container {
    //     padding-top: $size-1;
    //     padding-bottom: $size-1;

    //     @include from($tablet) {
    //         padding-top: $size-1 * 2;
    //         padding-bottom: $size-1 * 2;
    //     }
        
    // }
}

.site-footer {
    background-color: black;
    > .container {
        padding-top: $size-1 * 2;
        padding-bottom: $size-1 * 2;
    }

    .footer-widgets {
        .widget_recent_reviews {
            .product_list_widget {
                list-style: none outside;
                li {
                    list-style: none;
                    margin-bottom: $size-6 / 2;
                    &::before {
                        content: "";
                        display: table;
                    }
                    &::after {
                        content: "";
                        clear: both;
                        display: table;
                    }
                    a {
                        display: block;
                        img {
                            width: 75px;
                            float: right;
                        }
                        span {
                            // display: block;
                        }
                    }
                    .star-rating {
                        float: none;
                    }
                    
                }
            }
        }
    }

    .copyright {
        .container {
            > .columns {
                margin-bottom: 0;
            }
        }
        .social-icons {
            display: flex;
            @include from($tablet) {
                justify-content: flex-end;
            }
            justify-content: center;
            li {
                margin-right: $size-6;
                    &:last-child {
                        margin-right: 0;
                    }
                a {
                    display: block;
                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }
}