// Search Widget
.search-wrap {
    background: black;
    transition: all .3s;
    height: $search-height;
    margin-top: -$search-height;
    
    @include from($tablet) {
        height: $search-height-lrg;
        margin-top: -$search-height-lrg;
    }
    
    &.active {
        margin-top: 0;
    }
    .container {
        padding: $size-6 / 2;
        @include from($tablet) {
            padding: $size-4 0;
        }

    }
    .widget_product_search {
        form.woocommerce-product-search {
            .has-addons {
                .control:first-child {
                    width: 100%;
                }
            }
        }
    }
}

.site-header {
    position: fixed;
    height: $header-height;
    left: 0;
    right: 0;
    top: 0;
    background: white;
    z-index: 30;
    transition: all .3s;
    @include from($tablet) {
        height: $header-height-lrg;
        .admin-bar & {
            margin-top: 32px;
        }
    }
    .scrolled & {
        border-bottom: 1px solid black;
        @include from($tablet) {
            height: 80px;
        }
    }
    .search-is-open & {
        top: $search-height;
        
        @include from($tablet) {
            top: $search-height-lrg;
        }

    }
    & > {
        .container {
            padding: 0;
            height: 100%;
        }
    }
    .brand-wrap {
        display: flex;
        justify-content: space-between;
        padding: $size-6 $size-6 .8rem $size-6;
        position: relative;
        @include from($desktop) {
            position: initial;
            // padding: $size-6 $size-4 0 $size-4;
            padding: $size-6 0 0 0;
        }

        .icons-left, .icons-right {
            min-width: 35px;
            
            @include from($tablet) {
                min-width: 0;
            }

        }

        .icons-right {
            position: relative;
            order: -1;
            @include from($tablet) {
                position: initial;
                order: initial;
            }
            .my-account-icon {
                padding-right: .5rem;
                display: none;
                
                @include from($tablet) {
                    padding-right: $size-4;
                    display: inline-block;
                }
            }
            .basket-icon {
                // padding-right: .3rem;
                // position: relative;

                @include from($tablet) {
                    // padding-right: $size-6;
                }

            }
            .count {
                top: -8px;
                left: -3px;
                font-weight: bold;
                font-size: 11px;
                color: $red;
                position: relative;

                @include from($tablet) {
                    color: black;
                    position: initial;
                    top: auto;
                    left: auto;
                    font-size: 1em;
                }
            }
        }
        .scrolled & {
            @include from($tablet) {
                padding-bottom: .4rem;
            }
        }
        .icons-left {
            position: relative;
            order: 1;
            
            @include from($tablet) {
                order: initial;
            }

            .search-icon {
                display: none;
                
                @include from($tablet) {
                    display: block;
                }

                .icon {
                    .fas.fa-search {
                        .search-is-open & {
                            &::before {
                                content: fa-content($fa-var-times);
                            }
                        }

                    }
                }

            }

        }
        .icon {
            color: black;
        }
        .site-branding {
            .site-title {
                background-image: url('../img/charis-logo.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                text-indent: -1000000px;
                // Get exact sizes
                width: 150px;
                height: 20px;
                display: block;
                transition: all .5s;
                @include from($tablet) {
                    width: 240px;
                    height: 35px;
                }
                .scrolled & {
                    @include from($tablet) {
                        width: 137px;
                        height: 20px;
                    }
                }
            }
        }
        .navbar-burger {
            position: absolute;
            top: 3px;
            right: 6px;
            background: 0;
            span {
                height: 2px;
            }
        }
    }
    
    .navbar {
        background: black;
        position: initial;
        border-top: 1px solid white;
        position: fixed;
        width: 75%;
        right: -100%;
        // right: 0;
        transition: right .5s;
        @include from($tablet) {
            position: relative;
            right: auto;
            border-top: 0;
            background: 0;
            width: 100%;
        }
        &.active {
            right: 0;
        }
        
        .scrolled & {
            @include from($tablet) {
                min-height: 0;
            }
        }
        .mobile-menu-icons {
            display: flex;
            justify-content: space-between;
            padding-top: $size-6;
            padding-left: $size-6;
            padding-right: $size-6;
            a {
                color: white;
            }

            @include from($tablet) {
                display: none;
            }

            .search-icon {

                .icon {
                    .fas.fa-search {
                        .search-is-open & {
                            &::before {
                                content: fa-content($fa-var-times);
                            }
                        }

                    }
                }

            }

        }
        .menu-menu-1-container {
            text-align: left;
            width: 100%;
            height: 100vh;
            background: black;
            @include from($tablet) {
                height: auto;
                background: 0;
                text-align: center;
            }
            .navbar-menu {
                display: block;
                box-shadow: none;
                background: black;
                padding-left: 1rem;
                @include from($tablet) {
                    display: inline-flex;
                    background: 0;
                    padding-left: 0;
                }

                li {
                    padding: 1rem 0 0 0;
                    position: relative;

                    @include from($tablet) {
                        padding: .8rem 2rem 0 0;
                    }

                    a {
                        color: white;
                        transition: all .5s;

                        @include from($tablet) {
                            color: black;
                        }
                        
                        &:hover {
                            color: #333333;
                        }
                    }
                    .scrolled & {
                        @include from($tablet) {
                            padding-top: 0;
                        }
                    }
                    &.menu-item-has-children {
                        &:hover {
                            .sub-menu {
                                @include from($tablet) {
                                    left: 0;
                                }
                            }
                        }
                        &::after {
                            @include from($tablet) {
                                content: "";
                                display: block;
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 200px;
                                height: 250px;
                                z-index: -10;
                            }
                        }
                        & > a {
                            &::after {
                                @extend %fa-icon;
                                @extend .fas;
                                content: fa-content($fa-var-chevron-down);
                                right: 15px;
                                position: absolute;
                                top: 21px;
                                font-size: .8rem;
                                .scrolled & {
                                    @include from($tablet) {
                                        top: 9px;
                                    }
                                }
                            }
                        }

                    }
                    .sub-menu {
                        padding-left: 1rem;
                        @include from($tablet) {
                            position: absolute;
                            width: 170px;
                            top: 44px;
                            background-color: aliceblue;
                            left: -999rem;
                            padding-left: 0;
                        }
                        &:hover {
                            left: 0;
                        }
                        li {
                            @include from($tablet) {
                                text-align: left;
                                padding: 10px 15px;
                            }
                        }
                    }
                }
            }
        }
    }    
}