.hero {
    background-image: url(../img/charis-sutehall-jewellery-hero-bg-3.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    position: relative;

    @include from($tablet) {
        background-position: bottom;
    }
    
    // &.is-fullheight {
    //     min-height: calc(100vh - #{$header-height});

    //     @include from($tablet) {
    //     min-height: calc(100vh - #{$header-height-lrg});
    //     }
    // }

    h1, h4 {
        color: white;
    }

    .jump-down {
        width: 50px;
        height: 50px;
        position: absolute;
        left: 100%;
        margin-left: -50%;
        bottom: 50px;
        border-radius: 50%;
        border: 0;
    }

}

.latest-products {

    @include from($tablet) {
        padding-bottom: $size-1;
    }

}

.featured {
    .product-link {
        padding: $size-6 0;
        display: block;
    }
    .is-5 {
        font-style: italic;
    }
}