.hero {
    background-image: url(../img/charis-sutehall-jewellery-hero-bg-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    // &.is-fullheight {
    //     min-height: calc(100vh - #{$header-height});

    //     @include from($tablet) {
    //     min-height: calc(100vh - #{$header-height-lrg});
    //     }
    // }

    h1, h4 {
        color: white;
    }

}

.latest-products {

    @include from($tablet) {
        padding-bottom: $size-1;
    }

}

.featured {
    .product-link {
        padding: $size-6 0;
        display: block;
    }
    .is-5 {
        font-style: italic;
    }
}