.woocommerce-account {
    h1 {
        // width: 66.66666%;
        // margin-left: auto;
        // margin-right: auto;
        // text-align: center;
        padding-top: $size-1;
    }

    // Logged Out

    .remember, .woocommerce-privacy-policy-text {
        margin-bottom: $size-4;
    }

    .my-account-login h2, .my-account-register h2 {
        &::before {
            @extend %fa-icon;
            @extend .fas;
            display: block;
            color: $primary;
        }
    }

    .my-account-login h2 {
        &::before {
            content: fa-content($fa-var-user);
        }
    }

    .my-account-register h2 {
        &::before {
            content: fa-content($fa-var-user-plus);
        }
    }

    // Logged in

    .woocommerce-MyAccount-navigation {
        .menu-list {
            li {
                a {
                    color: $secondary;
                    font-size: 1.5rem;
                    &::before {
                        @extend %fa-icon;
                        @extend .fas;
                        margin-right: 10px;
                        height: 30px;
                        width: 30px;
                    }
                }

                &.is-active, &:hover {
                    background-color: $primary;
                    a {
                        background-color: $primary;
                        color: $secondary;
                        opacity: 1;
                    }
                }

                &.woocommerce-MyAccount-navigation-link--dashboard {
                    a {
                        &::before {
                            content: fa-content($fa-var-tachometer-alt);
                        }
                    }
                }

                &.woocommerce-MyAccount-navigation-link--orders {
                    a {
                        &::before {
                            content: fa-content($fa-var-clipboard-list);
                        }
                    }
                }

                &.woocommerce-MyAccount-navigation-link--edit-address {
                    a {
                        &::before {
                            content: fa-content($fa-var-map-marker-alt);
                        }
                    }
                }

                &.woocommerce-MyAccount-navigation-link--payment-methods {
                    a {
                        &::before {
                            content: fa-content($fa-var-credit-card);
                        }
                    }
                }

                &.woocommerce-MyAccount-navigation-link--edit-account {
                    a {
                        &::before {
                            content: fa-content($fa-var-user);
                        }
                    }
                }

                &.woocommerce-MyAccount-navigation-link--customer-logout {
                    a {
                        &::before {
                            content: fa-content($fa-var-sign-out-alt);
                        }
                    }
                }

            }
        }
    }

    .woocommerce-MyAccount-orders {
        width: 100%;
        th, td {
            padding: $size-6;
            vertical-align: middle;
        }
        tr {
            &:nth-child(even) {
                background: $primary;
            }
        }
    }

    .woocommerce-order-details, .woocommerce-customer-details {
        h2 {
            font-size: $size-2;
        }
    }
    .woocommerce-order-details {
        .woocommerce-table--order-details {
            width: 100%;
            margin-bottom: $size-1;
            th,td {
                padding: $size-6 / 2;
            }
        }
    }
    .woocommerce-customer-details {
        .woocommerce-column--billing-address {
            margin-bottom: $size-1;
        }
    }

    .woocommerce-MyAccount-content {
        .woocommerce-Address {
            margin-bottom: $size-1;
        }
    }

    #add_payment_method {
        label[for="payment_method_stripe"] {
            display: flex;
            justify-content: flex-start;
            margin-bottom: $size-4;
            img {
                width: 100px;
                margin: 0 10px 0 10px;
            }
        }
    }

}