.shop-landing-wrap {
    .container.select {
        height: 80px;
        width: 100%;
        @include from($tablet) {
            width: 23%;
        }
        &::after {
            top: 45%;
        }
        .woocommerce-ordering {
            select {
                width: 100%;
            }
        }
    }
}

.widget-filters {
    margin-bottom: $size-2;
    .widget-title {
        margin-bottom: $size-6;
        text-transform: uppercase;
    }
    .widget_price_filter {
        .ui-slider {
            margin-bottom: $size-6;
            &.ui-slider-horizontal {
                height: .1em;
            }
            .ui-slider-handle {
                top: -7px;
                background-color: white;
                border: 2px solid grey;
                transition: background-color .5s;
                &:hover {
                    background-color: grey;
                }
            }
        }
    }
    .widget_product_categories.select {
        height: 80px;
        .dropdown_product_cat {
            width: 100%;
        }
        .select2-container {
            visibility: hidden;
        }
        &::after {
            top: 90%;
            right: 32px;
        }
    }

    .widget_layered_nav_filters {
        margin-top: $size-6;
    }

}

.shop-landing-wrap {
    .container {
        padding: 0;
    }
}
.woocommerce-page {
    .entry-content {
        margin-top: $size-4;
        p {
            @include from($tablet) {
            // width: 70%;
            }
        }
    }
    
    &.woocommerce {
        .woocommerce-result-count {
            margin: $size-6 0;
        }
        .woocommerce-ordering {
            margin-top: $size-6;
            margin-bottom: $size-4;
        }
    }
    ul.products {
        display: grid;
        grid-template-columns: repeat(auto-fill, 45%);
        justify-content: space-between;
        margin-bottom: $size-2;
        // padding: 0 $size-6;
        @include from($tablet) {
            grid-template-columns: repeat(auto-fill, 23%);
            padding: 0;
        }
        &::after {
            content: "";
            flex: auto;
        }
        li.product {
            display: flex;
            flex-direction: column;
            text-align: center;
            flex-grow: 1;
            position: relative;

            @include from($tablet) {
                margin-bottom: $size-3;

                &:nth-child(4n-7) {
                    margin-left: 0;
                }

                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 40px;
                    display: block;
                    background-color: white;
                    top: -40px;
                    left: 0;
                    z-index: 20;
                }

                &:hover {
                    img {
                        filter: grayscale(100%);
                    }
                    .button {
                        top: 0;
                    }
                }

            }

            .woocommerce-loop-product__title {
                margin-bottom: .5rem;
                @include mobile {
                    font-size: 1rem;
                }
            }
            .star-rating {
                width: 90px;
                position: relative;
                margin: $size-6 auto $size-6 auto;
            }
            > a {
                flex: 1 0 auto;
                margin-bottom: $size-6;
                img {
                    // Create thumbnail in WP
                    width: 336px;
                    transition: all .3;
                }
            }
            .price {
                .woocommerce-Price-amount {

                    @include from($tablet) {
                        font-size: 1.25rem;
                    }

                    .woocommerce-Price-currencySymbol {
                        font-size: 1rem;
                    }
                }
            }
            .button {
                display: none;
                // @include mobile {
                //     width: 40px;
                //     height: 40px;
                //     justify-content: center;
                //     position: absolute;
                //     right: 0;
                //     bottom: 9px;
                //     border: 0;
                //     text-indent: -100000px;
                // }
                &::before, &::after {
                    @extend %fa-icon;
                    @extend .fas;
                }
                // @include from($tablet) {
                    &::before {
                        content: fa-content($fa-var-plus);
                    }
                // }
                &::after {
                    content: fa-content($fa-var-shopping-basket);
                    text-indent: 0;
                }
                @include from($tablet) {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    border: 0;
                    border-radius: 0;
                    background: lightblue;
                    color: white;
                    transition: all .3s;
                    position: absolute;
                    top: -40px;
                    left: 0;
                    z-index: 10;
                }
                margin: 0 auto;
            }
        }
    }
}