.shop-landing-wrap {
    .container.select {
        height: 80px;
        width: 100%;
        @include from($tablet) {
            width: 23%;
        }
        &::after {
            top: 45%;
        }
        .woocommerce-ordering {
            select {
                width: 100%;
            }
        }
    }
}

.widget-filters {
    margin-bottom: $size-2;
    .widget-title {
        margin-bottom: $size-6;
        text-transform: uppercase;
    }
    .widget_price_filter {
        .ui-slider {
            margin-bottom: $size-6;
            &.ui-slider-horizontal {
                height: .1em;
            }
            .ui-slider-handle {
                top: -7px;
                background-color: white;
                border: 2px solid grey;
                transition: background-color .5s;
                &:hover {
                    background-color: grey;
                }
            }
        }
    }
    .widget_product_categories.select {
        height: 80px;
        .dropdown_product_cat {
            width: 100%;
        }
        .select2-container {
            visibility: hidden;
        }
        &::after {
            top: 90%;
            right: 32px;
        }
    }
}

// .shop-landing-wrap {
.woocommerce-page {
    .entry-content {
        margin-top: $size-4;
        p {
            @include from($tablet) {
            // width: 70%;
            }
        }
    }
    
    &.woocommerce {
        .woocommerce-result-count {
            margin: $size-6 0;
        }
        .woocommerce-ordering {
            margin-top: $size-6;
            margin-bottom: $size-4;
        }
    }
    ul.products {
        display: grid;
        grid-template-columns: repeat(auto-fill, 45%);
        justify-content: space-between;
        margin-bottom: $size-2;
        padding: 0 $size-6;
        @include from($tablet) {
            grid-template-columns: repeat(auto-fill, 23%);
            padding: 0;
        }
        &::after {
            content: "";
            flex: auto;
        }
        li.product {
            display: flex;
            // flex-flow: wrap;
            flex-direction: column;
            // width: 45%;
            text-align: center;
            margin-bottom: $size-3;
            flex-grow: 1;
            @include from($tablet) {
                // flex: 1 0 20%;
                // margin-left: 2%;
                &:nth-child(4n-7) {
                    margin-left: 0;
                }
            }
            .woocommerce-loop-product__title {
                margin-bottom: .5rem;
            }
            .star-rating {
                width: 90px;
                position: relative;
                margin: $size-6 auto $size-6 auto;
            }
            > a {
                flex: 1 0 auto;
                margin-bottom: $size-6;
                img {
                    // Create thumbnail in WP
                    width: 336px;
                }
            }
            .button {
                width: 50%;
                margin: 0 auto;
            }
        }
    }
}