body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
} 

.shop-landing-wrap, .single-product {
  .product {
    .title.is-5 {
      font-family: 'Lato', sans-serif;
      font-weight: 300;
    }
  } 
} 

.shop-landing-wrap, .single-product {
  .product {
    .title, .price {
      font-weight: 300;
    }
  } 
} 
  

h1, h2, h3 {
  &.title {
    font-family: 'Bad Script', cursive;
    color: $secondary;
    font-weight: lighter;
  }
}


h4.title {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.is-1, .is-2, .is-3 {
  // font-weight: lighter;
}

a {
  color: $secondary;
  transition: all .5s;
  &:hover {
    opacity: .7;
  }
}

p {
  margin-bottom: $size-6;
}