body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
  

h1, h2, h3 {
  &.title {
    font-family: 'Bad Script', cursive;
    color: $secondary;
    font-weight: lighter;
  }
}


h4.title {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.is-1, .is-2, .is-3 {
  // font-weight: lighter;
}

a {
  color: $primary;
  &:visited {
    color: lighten($primary, 20%);
  }
}

p {
  margin-bottom: $size-6;
}