$fa-font-path: "../webfonts";

$navbar-breakpoint: $tablet;

$header-height-lrg: 115px;
$header-height: 54px;

$search-height-lrg: 90px;

$search-height: 56px;


$primary: #F7CAC9;
$secondary: #052450;