@import "../../node_modules/bulma/bulma.sass";

@import './variables';
@import './mixins';
@import './scss/fontawesome.scss';
@import './scss/solid.scss';
@import './wcfonts';
@import './header';
@import './breadcrumb';
@import './home';
@import './shop-landing';
@import './shop-single-product';
@import './about';
@import './contact';
@import './basket';
@import './checkout';
@import './footer';
@import './pagination';
@import './star_rating';

.title {
  font-weight: lighter;
}

.is-1, .is-2, .is-3 {
  font-weight: lighter;
}

.site-content {
  margin-top: $header-height-lrg;
  margin-bottom: $size-1 * 2;
}

section:not(.hero, .sign-up, .widget-filters) {
  margin-bottom: $size-1 *2;
}

.grecaptcha-badge {
  display: none;
}