@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";

@import './variables';

@import "../../node_modules/bulma/bulma.sass";

@import './mixins';
@import './scss/fontawesome.scss';
@import './scss/solid.scss';
@import './wcfonts';
@import './typography';
@import './buttons';
@import './forms';
@import './header';
@import './breadcrumb';
@import './home';
@import './cta';
@import './shop-landing';
@import './shop-single-product';
@import './about';
@import './contact';
@import './commissions';
@import './basket';
@import './checkout';
@import './my_account';
@import './search-results';
@import './footer';
@import './pagination';
@import './star_rating';


.site-content {
  margin-top: calc(#{$header-height} + 6px) ;

  @include from($desktop) {
    margin-top: calc(#{$header-height-lrg} + 5px);
  }

}

.page-template-home {
  .site-content {
    margin-top: 0;
  }
}

.container {
  padding-left: $size-6;
  padding-right: $size-6;
  
  @include from($desktop) {
    padding: 0;
  }
  
}

section {
  
  padding-bottom: $size-1;
  
  .container {
    padding-top: $size-4;
  }
  
  .home & {
    margin-bottom: $size-6;
  }
  
  &.sign-up {
    margin-bottom: 0;
  }
  
}


// section:not(.hero, .sign-up, .widget-filters, .search-wrap, .cta, .latest-products, .map, .comments, .featured, .commissions) {
//   margin-bottom: $size-1;

//   @include from($tablet) {
//     margin-bottom: $size-1;
//   }

//   .container {
//     padding-top: $size-1;
//     padding-bottom: $size-1;
    
//     @include from($desktop) {
//         padding-top: $size-1;
//         padding-bottom: $size-1;
//     }
    
//   }
  
// }

.grecaptcha-badge {
  display: none;
}

#_hj_feedback_container {
  display: none;
}

.show-for-mobile {
  @include from($tablet) {
    display: none!important;
  }
}